@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Noto+Sans+JP:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --text-color: rgb(26, 26, 46);
  --primary-clor: #7286d3;
  --secondary-color: #8ea7e9;
  --gray-color: #9e9e9f;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
html {
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  color: var(--text-color);
  font-family: "IBM Plex Sans Hebrew", serif;
  padding: 8rem 9rem 10rem 9rem;
}
label {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 1.3rem;
  margin: 1rem;
}
.login-img,
.login-form {
  flex: 1;
}
.login-img > img {
  /* background-image: url("../img/logo.svg"); */
  object-fit: contain;
  height: 55rem;
  width: 60rem;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
form {
  width: 100%;
  padding: 1rem;
}
.title {
  font-size: 4rem;
}
label > div {
  width: 100%;
  height: 4rem;
  border: 1px solid #979797;
  border-radius: 1rem;
}
.inputs {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
.inputs > input {
  width: 100%;
  border: none;
  outline: none;
}
a {
  align-self: end;
  color: #8ea7e9;
  font-size: 1.3rem;
  margin-right: 2.2rem;
}
button {
  background-color: var(--secondary-color);
  width: 50%;
  height: 5.5rem;
  border-radius: 2rem;
  color: white;
  margin: 3rem 0;
}
.dividers {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.3rem;
}
hr {
  background-color: #9e9e9f;
  height: 0.5rem;
  width: 20rem;
  border-radius: 2rem;
}
.social-media-login {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.secial-media-div {
  height: 6rem;
  width: 6rem;
  border: 1px solid #d9d9d9;
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secial-media-div > img {
  height: 3rem;
  width: 3rem;
}
.mobile-header {
  display: none;
}

@media screen and (width<=600px) {
  html {
    overflow-x: hidden;
  }
  body {
    display: block;
    padding: 0;
    margin: 0;
  }
  .bck {
    display: none;
  }

  .login-img {
    width: 100%;
    height: 4rem;
    background-color: var(--primary-clor);
  }
  .login-form {
    margin-top: 10rem;
  }
  .title {
    width: 90%;
    font-size: 4rem;
    margin: 5rem 0;
  }
  .dividers {
    gap: 0.5rem;
    font-size: 1.5rem;
  }
  .dividers {
    gap: 3rem;
  }
  hr {
    height: 0.2rem;
    width: 11.5rem;
  }
  .social-media-login {
    margin: 2rem;
  }
}
